<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <title>Radius User List</title>
    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/resources/css/bootstrap-theme.min.css}" rel="stylesheet"/>
    <link th:href="@{/resources/main.css}" rel="stylesheet"/>

    <!-- See http://twitter.github.com/bootstrap/scaffolding.html#responsive -->
    <!--<link href="/resources/css/bootstrap-responsive.min.css" rel="stylesheet"> </link>-->
    <script src="@{/resources/js/bootstrap.min.js"></script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<nav th:replace="layout :: header">&nbsp;</nav>

<div class="container-fluid">
    <div class="row">

        <div th:replace="sidebar :: menu">&nbsp;</div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">


            <div class="panel-heading">

                <h4 th:text="#{radiusgroup.create.new}" th:if="${page} == 'newradiusgroup'">Create new group</h4>
                <h4 th:text="#{radiusgroup.update.title}" th:if="${page} == 'editradiusgroup'">Update exist group</h4>

            </div>

            <div class="panel-body">
                <div class="row">

                    <form class="form-horizontal" role="form" th:action="@{/updateradiususer.html}"  th:object="${radiusUser}" method="post">
                        <input type="hidden" th:field="*{id}"/>
                        <input type="hidden" th:field="*{passwordType}"/>
                        <input type="hidden" th:field="*{passwordOperation}"/>

                        <div class="col-md-8">

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="username"
                                       th:text="#{radiususer.username.label}">Login:</label>

                                <div class="col-sm-10">
                                    <input th:field="*{username}" class="form-control" autofocus="true"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="password"
                                       th:text="#{radiususer.password.label}">Password:</label>

                                <div class="col-sm-10">
                                    <input class="form-control" th:field="*{password}" autofocus="true"/>
                                </div>
                            </div>


                            <!-- Begin 3 panel -->

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <button class="btn btn-default" type="submit" name="addValues"
                                            th:text="#{radiususer.values.add}"/>
                                </div>
                                <div class="panel-body">
                                    <div class="row">

                                        <div class="col-sm-12">

                                            <div class="row" th:each="row,rowStat : *{radiusUserValues}">
                                                <input type="hidden"
                                                       th:field="*{radiusUserValues[__${rowStat.index}__].id}"/>

                                                <div class="col-sm-3">
                                                    <label>Attribute</label>
                                                    <select th:field="*{radiusUserValues[__${rowStat.index}__].attribute}">
                                                        <option th:each="value : ${radiusAttribute}"
                                                                th:value="${value}"
                                                                th:text="${value.value}">Value
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-2">
                                                    <label>Operator</label>
                                                    <select th:field="*{radiusUserValues[__${rowStat.index}__].operator}">
                                                        <option th:each="value : ${radiusOperation}"
                                                                th:value="${value}"
                                                                th:text="${value.value}">Value
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label>Value</label>
                                                    <input class="form-control" placeholder="value" type="text"
                                                           th:field="*{radiusUserValues[__${rowStat.index}__].value}"/>
                                                </div>
                                                <div class="col-sm-1">
                                                    <label class="control-label" for="submit">&emsp;</label>
                                                    <button class="btn btn-default" type="submit"
                                                            name="removeValue"
                                                            th:value="${rowStat.index}">
                                                            <span
                                                                    class="glyphicon glyphicon-remove"
                                                                    aria-hidden="true"></span>
                                                    </button>
                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="col-md-8">
                                <p> Примеры пользовательских аттрибутов</p>

                                <p> Cisco-AVPair <span>+=</span> "ip:addr-pool=zhov_sr"</p>
                                <p> Mikrotik-Rate-Limit <span>+=</span>"1M 3M 768k 128 8 1M" </p>
                                <p> Указать IP адрес</p>
                                <p> Framed-IP-Address <span>:=</span> 195.138.166.152 </p>

                            </div>

                            <div class="row">

                                <div class="form-group">
                                    <div class="col-sm-offset-1 col-sm-10">
                                        <button class="btn btn-primary" type="submit">User Update</button>
                                    </div>
                                </div>
                            </div>

                        </div>

        </div>
    </div>
</div>