<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <title>Knowledge testing</title>
    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/resources/css/bootstrap-theme.min.css}" rel="stylesheet"/>

    <!-- See http://twitter.github.com/bootstrap/scaffolding.html#responsive -->
    <!--<link href="/resources/css/bootstrap-responsive.min.css" rel="stylesheet"> </link>-->
    <script src="@{/resources/js/bootstrap.min.js"></script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>


<nav th:fragment="header" class="navbar navbar-acid navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Radius Admin</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
            </ul>
            <form class="navbar-form navbar-right" th:action="@{/radiususers.html}" th:object="${searchRequest}"
                  method="post">
                <input th:field="*{searchString}" class="form-control col-lg-8" autofocus="true"
                       th:placeholder="#{search.label}"/>
            </form>
        </div>
    </div>
</nav>

</body>
</html>