<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title> All Radius Users </title>
    <link href="../../../resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <link href="../../../resources/bootstrap-united.min.css" th:href="@{/resources/bootstrap-united.min.css}"
          rel="stylesheet"/>
</head>

<body>

<div th:replace="header :: menubar (${searchRequest}, jacctlist.html) "/>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h3 id="tables">TOP качающих</h3>

                <span class="label label-danger" th:text="${(page.number + 1) + '/' + page.totalPages}"></span>
                <span class="label label-info" th:text="${'Показано с'}">Show from</span>
                <span class="label label-primary" th:text="${(page.number*20+1)}"></span>
                <span class="label label-info" th:text="${'по'}"></span>
                <span class="label label-primary" th:text="${(page.number*20 + page.numberOfElements)}"></span>
                <span class="label label-info" th:text="${'из всего найденного'}"></span>
                <span class="label label-primary" th:text="${page.totalElements}">Show from</span>

            </div>

            <nav th:replace="utils :: pagination (${page}, 'jacctlist.html')">&nbsp;</nav>

            <div class="bs-component">
                <form role="form" th:action="@{/jacctlist.html}" th:object="${searchRequest}" method="post">
                    <table class="table table-striped table-hover ">
                        <thead>
                        <tr>
                            <th>N</th>
                            <th th:text="#{jacctlist.acctuser.label}">IP</th>
                            <th th:text="#{jacctlist.acctduration.label}">NAS</th>
                            <th th:text="#{jacctlist.acctout.label}">NAS IP</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="jacct, rowStat : ${page.content}" th:class="${rowStat.odd} ? 'odd'">

                            <td th:text="${page.number} * 20 + ${rowStat.count}">N</td>
                            <td th:text="${jacct.acctuser}">Onions</td>
                            <td th:text="${#numbers.formatInteger(jacct.acctdurationHours, 3,'WHITESPACE')}">2.41</td>
                            <td th:text="${#numbers.formatInteger(jacct.acctoutMb, 3,'WHITESPACE')}">2.41</td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <nav th:replace="utils :: pagination (${page}, 'jacctlist.html')">&nbsp;</nav>
        </div>
    </div>
</div>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">A you sure?</h4>
            </div>
            <div class="modal-body">
                <p><span class="modal-text"></span> &hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a class="btn btn-danger btn-ok">Delete</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script src="../../../resources/js/jquery.min.js"></script>
<script src="../../../resources/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $('#confirm-delete').on('show.bs.modal', function (e) {
        var recipient = $(e.relatedTarget).data('whatever')
        var modal = $(this)
        modal.find('.modal-title').text('A you sure delete ' + recipient + '?')
        modal.find('.modal-text').text('Kill online user - ' + recipient + '?')
        modal.find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
    });
</script>
</body>
</html>

